/* #FF0066 Primary color */
/* #BB004B  Secondary Color*/

/* #002233 
  #0066FF
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid #fff; */
}
html {
  font-family: "Poppins", sans-serif;
}

/* Header section */
.header-section {
  background: center/cover no-repeat url("./Images/background3.svg");
  overflow: hidden;
  /* margin-bottom: 10rem; */
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-link:is(:link, :visited) {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
  padding: 4px 8px;
}
.nav-link:is(:hover, :active) {
  background-color: #d4d4d4cd;
  color: #fff;
  border-radius: 3px;
}
.logo:link,
.logo:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
}
.get-started:link,
.get-started:visited,
.signup-btn:link,
.signup-btn:visited,
.login-btn:link {
  padding: 0.6rem 1.2rem;
  background-color: #0066ff;
  border-radius: 5px;
  transition: all 0.3s;
}
.get-started:hover,
.get-started:active,
.signup-btn:hover,
.signup-btn:active {
  background-color: #0047b3;
}
.login-btn:link,
.login-btn:visited {
  background-color: #002233;
  border: 1px solid #fff;
}
.login-btn:hover,
.login-btn:active {
  background-color: #1a3847;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #f1ccdb;
  max-width: 50rem;
  height: 100vh;
  margin: 0 auto;
}
.heading-text {
  font-size: 4rem;
  text-align: center;
}
.heading-text span {
  color: #2ad157;
}
.btns {
  display: flex;
  gap: 1rem;
}
.learn-more {
  color: #fff;
  display: flex;
}
.arrow-down {
  width: 1.2rem;
}
/* End of header section */
/*! ********************************** */

/* How it works section */
.how-it-works-section {
  /* max-width: 90rem; */
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.how {
  display: flex;
  flex-direction: column;
  background-color: #0066ff;
  align-items: center;
  gap: 5rem;
  padding: 6rem 2rem;
}
.how-heading {
  text-align: center;
  color: #fff;
}
.how-heading h1 {
  font-size: 2rem;
}
.how-container {
  display: flex;
  max-width: 70rem;
  gap: 2rem;
}
.how-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, 0.1);
}
.how-num {
  position: absolute;
  top: -10%;
  color: #0047b3;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
}
.how-img {
  max-width: 70%;
}

.how-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #868e96;
}
.how-text h3 {
  color: #4d8ef1;
}
