/* #002233 backgrounds
  #0066FF Primary
  #0047b3 Primary2
  ##e03131
  ##c92a2a
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  width: 60rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container h1 {
  font-size: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}
form input {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
}
.form-input {
  border: none;
  background-color: #dee2e6;
  border-radius: 4px;
}
.form-input:is(:focus) {
  outline: none;
}
.submit-btn {
  cursor: pointer;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
  background-color: #0066ff;
}
.submit-btn:hover {
  background-color: #0047b3;
}
.cancel-btn:is(:link, :visited) {
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
  width: 20%;
  padding: 1rem;
  background-color: #e03131;
}
.cancel-btn:is(:hover, :active) {
  background-color: #c92a2a;
}

.form-container div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.sign-up {
  color: #000;
}
